<div class="center jumbotron">
  <h1>Welcome to Your Course App</h1>

  <h2>
    This is the home page for the RAD Assignment 2
  </h2>

  <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="container">
  <div class="col-sm-4">
    <h3 class="container-middle">View Course as Guest User</h3>
      <p>Browse and view courses as a guest and sign up later</p>
        <%= link_to 'Browse all courses', '#', class: 'btn btn-primary' %>
  </div>
  <div class="col-sm-4">
    <h3 class="container-middle">Sign in to your account</h3>
      <p>Update your courses, rate courses, view coordinator informations</p>
        <%= link_to 'Log in to your account', '#', class: 'btn btn-primary' %>
  </div>
</div>
