  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <h3>Contact Us</h3>
              <div class="form-group">
                <input class="footer__subject" type="text" name="subject" placeholder="Name">
              </div>
              <div class="form-group">
                <input class="footer__subject" type="text" name="subject" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea class="footer__textarea" type="text" name="body" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Send">
              </div>
          </div>
          
          <div class="col-xs-6 col-md-3">
            <h3>General Inquiries</h3>
            <ul class="footer-links">
              <li><a href="https://www.youtube.com/">Andy Song</a></li>
              <li><a href="https://twitter.com/">Junliang Jiang</a></li>
              <li><a href="https://www.facebook.com/">Ali</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h3>Useful Links</h3>
            <ul class="footer-links">
              <li><a href="https://www.rmit.edu.au/study-with-us/short-courses">RMIT Course</a></li>
              <li><a href="https://www.rmit.edu.au/students/support-and-facilities/it-services-for-students/service-and-support-centre">RMIT Help Desk</a></li>
              <li><a href="https://www.rmit.edu.au/students/support-and-facilities/student-support/international-students">RMIT International</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h3>Media</h3>
            <ul class="footer-links">
              <li><a href="https://www.youtube.com/">Youtube</a></li>
              <li><a href="https://twitter.com/">Twitter</a></li>
              <li><a href="https://www.facebook.com/">Facebook</a></li>
              <li><a href="https://www.instagram.com/accounts/login/?hl=en">Instagram</a></li>
              <li><a href="https://www.skype.com/en/">Skype</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <h5>
              <p class="contact-text">Tel: 0123456789</p>
              <p class="contact-text">Fax: 0123456</p>
              <p class="contact-text">s3630065@student.rmit.edu.au</p>
            </h5>
          </div>
        </div>
      </div>
</footer>