<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Yourcourse", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Category <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
              <li><%= link_to "Web Development", '#' %></li>
              <li><%= link_to "Java", '#' %></li>
              <li><%= link_to "Full Stack Dev", '#' %></li>
              <li><%= link_to "iOS Engineering", '#' %></li>
              <li class="divider"></li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Location <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
              <li><%= link_to "14.10.31", '#' %></li>
              <li><%= link_to "14.08.26", '#' %></li>
              <li><%= link_to "14.10.30", '#' %></li
              <li class="divider"></li>
            </ul>
        </li>
        <li><%= link_to "Login", '#' %></li>
      </ul>
    </nav>
  </div>
</header>